/* Algemeen */
*{
  padding: 0;
  margin: 0;
  font-family: monospace;
}
body{
  background-color: black;
}
a{
  color: lightblue;
  text-decoration: none
}
a:hover{
  color: aquamarine;
  text-decoration: none
}
/* Header */
header{
  background-color: black;
}
header h1{
  padding: 1%;
  color: white;
}
section p{
  font-size: 107%;
}

/* Navigatie Menu */
nav{
  /* position: -webkit-sticky; */
  /* padding-top: 0.1%; */
  /* position: sticky; */
  text-align: center;
  top: 0;
  padding-bottom: 1%;
}
ul{
  background-color: black;
  padding: 0.3%;
  /* border: 1px solid black; */
  /* border-radius: 20px 20px 20px 20px; */
}
ul li{
  padding-top: 0.8%;
  padding-bottom: 0.8%;
  /* border-radius: 0px 20px 20px 20px; */
  width: 32%;
  display: inline-block;
  background-color: #2F4651;
}
ul li:hover{
  background-color: #61A1BD;
  text: black;
}
ul li a{
  font-weight: 600;
  font-size: 105%;
  text-decoration: none;
  color: white;
}
ul li a:hover{
  color: black;
}
/* @media screen and (max-width: 600px) {
  ul li {
  float: none;
  }
} */

/* Over Mij */

#over-mij{
  display: flex;
  justify-content: center;
}
.over-mij-r{
  background-color: black;
  color: black;
  width: 40%;
  justify-content: left;
  display: inherit;
}
.over-mij-l{
  background-color: #2F4651;
  color: white;
  width: 60%;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 5vh;
  padding-bottom: 5vh;

  /* Badges */
}
.badges-r{
  background-color: #2F4651;
  color: white;
  width: 60%;
  padding: 0.4%;
}
.badges-l{
  background-color: #CCE0D9;
  color: black;
  width: 40%;
}
#badges, .badges-l{
  display: flex;
  justify-content: center;
}
.badges-l{
  display: inline;
}
.badges-r ol{
  margin-left: 3%;
}
.badges-r #klaar{
  color: lightgreen;
}

/* Space-between */
.space-between{
  height: 10vh;
  background-color: #2F4651;
}
/* Projecten */

.projecten-l{
  padding: 1%;
  background-color: #2F4651;
  color: white;
}
.projecten-r{
  padding: 1%;
  background-color: #2F4651;
}

.Project-img{
  background-image: url("fotos/venetie.jpg");
  background-color: #2F4651;
  height: 13vw;
  width: 20%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 10% 10% 10% 10%;
  margin-left: 1vw;
  /* padding: 5%; */
}

.Project-text{
  padding: 5%;
  text-align: center;
}



/* .projecten-r{
  padding: 0.5%;
  background-color: #2F4651;
  display: flex;
  justify-content: space-around;
}
.Project{
  border: 2px solid black;
  width: 12%;
  padding: 0.5%;
  background-color: #3C5A68;
  height: 180px;
}
#projecten h4{
  text-align: center;
}
.Project p{
  margin-top: 2%;
  padding: 1%;
  border-radius: 5px 5px 5px 5px;
}
.Project a{
  text-decoration: none;
  color: white;
}
.Project a:hover{
  text-decoration: none;
  color: white;
} */

/* Footer */
footer{
  padding: 1%;
  text-align: center;
  color: white;
  background: #2F4651;
}
footer a{
  color: white;
}
footer a:hover{
  color: lightblue;
}
/* up */
/* .up{
  background-color: #9DC4B5;
  text-align: right;
  right: 1%;
  border: 1% solid green;
  position: ;
  justify-content: right;
} */

/* *:nth-child(even) {
  background-color: khaki;
}

*:nth-child(odd) {
  background-color: darkolivegreen;
} */
