/* Algemeen */
*{
  padding: 0;
  margin: 0;
  font-family: monospace;
}
body{
  background-color: black;
}
a{
  color: lightblue;
  text-decoration: none
}
a:hover{
  color: aquamarine;
  text-decoration: none
}
/* Header */
header{
  height: 50vh;
  background: url('Fotos/Background.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

}
header h1{
  padding: 1%;
  color: white;
}
section p{
  font-size: 107%;
}

/* Navigatie Menu */
nav{
  background: url('Fotos/Background.jpg');
  background-size: cover;
  height: 50vh;
  text-align: center;
  top: 0;
  padding-bottom: 1%;
  /* display: flex; */
  align-items: flex-end
}
ul{
  padding: 0.3%;
}
ul li p{
  font-size: 130%;
}
ul li{
  padding-top: 0.8%;
  padding-bottom: 0.8%;
  width: 32%;
  /* color: #2F4651; */
  /* text-align: center; */
  display: inline-block;
  background-color: #61A1BD;
}
ul li:hover{
  background-color: #2F4651;
}
ul li a{
  font-weight: 600;
  font-size: 105%;
  text-decoration: none;
  color: white;
}
ul li a:hover{
  color: lightblue;
}
/* @media screen and (max-width: 600px) {
  ul li {
  float: none;
  }
} */

hr{
  color: black;
  border: solid black 2px;
  background-color: black;

}


/* Over Mij */
table, td, th{
  text-align: left;
}
table img{
  padding-right: 5vw;
}

#over-mij{
  display: flex;
  justify-content: center;
  height: 100vh;
}
.over-mij-r{
  background-color: black;
  color: black;
  width: 40%;
  background: url('Fotos/duka5.jpg');
  background-size: cover;
}
.over-mij-l{
  background-color: #2F4651;
  color: white;
  width: 60%;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 5vh;
  padding-bottom: 5vh;
  /* Badges */
}
.badges-r{
  background-color: #2F4651;
  color: white;
  width: 60%;
  padding: 0.4%;
}
.badges-l{
  background-color: #CCE0D9;
  color: black;
  width: 40%;
}
#badges, .badges-l{
  height: 100vh;
  display: flex;
  justify-content: center;
}
.badges-l{
  display: inline;
}
.badges-r ol{
  margin-left: 3%;
}
.badges-r #klaar{
  color: lightgreen;
}

/* Space-between */
.space-between{
  height: 10vh;
  background-color: #2F4651;
}
/* Projecten */
#projecten-l{
  background-color: #2F4651;
  color: white;
  padding: 1vw;
  height: 10vh;
}
#mijn-projecten{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 15%;
  grid-column-gap: 5%;
  padding: 2%;
  height: 90vh;
  background: url('Fotos/Background.jpg');
  background-size: cover;
  background-color: white;
}

#mijn-projecten div{
  color: white;
  text-align: center;
  padding-top: 2vh;
  font-size: 150%;
  border-radius: 10%;

}

#mijn-projecten div p{
  padding: 2vh;
  background-color: rgba(0,0,0,0.5);
  color: rgba(255,255,255,1);
}
#mijn-projecten div p a{
  padding: 2vh;
  color: white;
}
#mijn-projecten div p a:hover{
  padding: 2vh;
  color: #CCE0D9;
}
#plaatje1{
  background: url('Fotos/venetie.jpg');
  background-size: cover;
}
#plaatje2{
  background: url('Fotos/oosterpark.jpg');
  background-size: cover;
}
#plaatje3{
  background: url('Fotos/galgje.PNG');
  background-size: cover;
}
#plaatje4{
  background: url('Fotos/Contactenlijst.PNG');
  background-size: cover;
}
#plaatje5{
  background: url('Fotos/Ideeen-website.PNG');
  background-size: cover;
}
#plaatje6{
  background: url('Fotos/ruby.PNG');
  background-size: cover;
}


.projecten-l{
  padding: 1%;
  background-color: #2F4651;
  color: white;
}
.projecten-r{
  padding: 1%;
  background-color: #2F4651;
}

.Project-img{
  background-image: url("Fotos/venetie.jpg");
  background-color: #2F4651;
  height: 13vw;
  width: 20%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 10% 10% 10% 10%;
  margin-left: 1vw;
}

.Project-text{
  padding: 5%;
  text-align: center;
}

/* Footer */
footer{
  padding: 1%;
  text-align: center;
  color: white;
  background: #2F4651;
}
footer a{
  color: white;
}
footer a:hover{
  color: lightblue;
}
